.find-car-border {
  width: 90%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
  margin: auto;
  margin-top: -50px;
  padding: 0 15px;
}

.find-car-border.findcar-active {
  z-index: 11;
}

.find-car-form {
  display: flex;
  padding-left: 0;
}

.find-car-form .form {
  display: flex;
  width: 90%;
  margin: auto;
}

.find-car-form .submit {
  display: flex;
  margin: auto;
  padding-top: 10px;
}

.form-border {
  padding: 10px;
}

.form-label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
}

.form-control {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
}

.form-select {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
}

.btn.btn-success {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #5CB85F;
  border-radius: 2px;
  border-color: #5CB85F;
}

/* .overlay-bg-2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-bg-2.findcar-active {
  display: block;
  z-index: 10;
} */

@media (max-width:991px) {
  .find-car-form {
    display: block;
  }

  .find-car-form .form {
    display: block;
    width: 100%;
  }

  .mb-3 {
    margin-bottom: 0 !important;
  }

  .find-car-form .submit {
    padding: 10px;
  }
}

@media (max-width:767px) {
  .find-car-border {
    margin-top: -25px;
  }
}