.backButton {
  height: 200px;
  background: #F1F3FF;
  text-align: center;
  padding-top: 100px;
}

.backButton a {
  background: #5CB85F;
  border-radius: 20px;
  border-color: #5CB85F;
}

.car-desc {
  padding-top: 50px;
}

.car-desc-border {
  width: 90%;
  margin: auto;
}

.package-desc h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 20px 0 10px 20px;
}

.package-desc ul {
  list-style: disc;
}

.package-desc li {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #8A8A8A;
  padding-bottom: 15px;
  margin-left: 30px;
}

.package-desc .card {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card-detail .card {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card-img {
  height: 350px;
  object-fit: cover;
  padding: 50px 25px;
}

.card-detail .card-body {
  padding: 15px 25px;
}

.card-detail .card-body h5 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 4px 0 5px;
  margin: 0;
}

.card-detail .card-body .category {
  display: flex;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #8A8A8A;
}

.card-detail .card-body .category p {
  padding-left: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.price h4 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 4px 0;
}

.backButton2{
  padding-bottom: 10px;
}

.backButton2 a {
  background: #5CB85F;
  border-radius: 20px;
  border-color: #5CB85F;
  font-size: 14px;
}

@media (max-width:991px) {
  .car-desc-border {
    width: 90%;
    margin: auto;
  }

  .card-detail {
    margin-top: 20px;
  }

  .card-img {
    padding: 20px 25px 10px;
  }

  .price {
    padding: 50px 0 20px;
  }
}

@media (max-width:767px) {
  .package-desc h3 {
    font-size: 12px;
    line-height: 10px;
    padding: 20px 0 10px 15px;
  }

  .package-desc li {
    font-size: 12px;
    line-height: 150%;
    padding: 5px 0px;
    margin-right: 15px;
  }

  .card-img {
    height: 200px;
    padding: 25px 15px 15px;
  }

  .card-detail .card-body {
    padding: 15px 15px;
  }

  .package-desc .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding-bottom: 10px;
  }
}